@charset "utf-8";

*,*::before,*::after {
  box-sizing: border-box;
}

main {
  max-width: 1000px;
  width: 100%;
  margin: 50px auto;
  background-color: #ddd;
  padding: 20px;
  font-size: 30px;
}

dt:not(:first-of-type) {
  margin-top: 30px;
}
