@charset "utf-8";

.swiper-slide {
  height: 100vh;
  background-size: cover;
  background-position-y: center;
  background-repeat: no-repeat;
}

.swiper-slide.slide1 {
  background-image: url(../img/cat1.jpg);
}

.swiper-slide.slide2 {
  background-image: url(../img/cat2.jpg);
}

.swiper-slide.slide3 {
  background-image: url(../img/cat3.jpg);
}