@charset "utf-8";

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: serif;
  background-color: #333;
  color: #fff;
}

@keyframes titleAnimation {
  0% {
    letter-spacing: 0.3em;
    opacity: 0;
  }
}

header h1 {
  font-size: 70px;
  font-weight: bold;
  margin-bottom: 60px;
  white-space: nowrap;
  animation: 1.5s titleAnimation;
}

main {
  max-width: 1000px;
  width: 100%;
  margin: 50px auto;
}

.contents li {
  position: relative;
}

.contents li:not(:first-of-type) {
  margin-top: 200px;
}

.contents li.show h2,
.contents li.show p {
  opacity: 1;
  transform: none;
}

.contents > li.show:nth-of-type(odd) img {
  opacity: 1;
  transform: none;
}

.contents > li.show:nth-of-type(even) img {
  opacity: 1;
  transform: none;
}

.contentsText {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  position: absolute;
  top: 40px;
}

.animationTarget {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.animationTarget:nth-of-type(odd) {
  align-items: flex-end;
}

.animationTarget:nth-of-type(odd) > .contentsText {
  left: 0;
}

.animationTarget:nth-of-type(even) > .contentsText {
  right: 0;
}

.contents > li h2 {
  font-size: 50px;
  font-weight: bold;
  white-space: nowrap;
  background-color: rgba(20, 20, 20, 0.8);
  padding: 10px 20px;
  line-height: 1.4;
  letter-spacing: 0.05em;
  border-radius: 5px;
  opacity: 0;
  transform: translateY(20px);
  transition: 1s;
}

.contents > li p {
  line-height: 1.6;
  background-color: #555;
  font-size: 14px;
  max-width: 340px;
  padding: 15px;
  margin-top: 30px;
  border-radius: 5px;
  opacity: 0;
  transform: translateY(20px);
  transition: 1s;
}

.contents > .animationTarget:nth-of-type(odd) > .contentsText {
  align-items: flex-start;
}

.contents > li img {
  width: 65%;
  border-radius: 5px;
  opacity: 0;
  transition: 1s .5s;
}

.contents > li:nth-of-type(odd) img {
  transform: translate(-20px, 20px);
}

.contents > li:nth-of-type(even) img {
  transform: translate(20px, 20px);
}
