@charset "utf-8";

*,
*::before,
*::after {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #333;
  cursor: pointer;
}

main {
  height: 200vh;
  background-color: #aaa;
  padding: 20px;
  border-radius: 5px;
  max-width: 1000px;
  margin: 50px auto;
}

h1 {
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 30px;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 40px;
  background-color: blue;
  color: #fff;
  font-size: 16px;
  border-radius: 5px;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.95);
  border-radius: 5px;
  background-color: #fff;
  padding: 20px;
  min-width: 500px;
  max-height: 80vh;
  overflow: auto;
  opacity: 0;
  visibility: hidden;
  transition: 0.3s;
}

.modal.active {
  transform: translate(-50%, -50%) scale(1);
  opacity: 1;
  visibility: visible;
}

.modal__heading {
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 10px;
}

.modal__button--close {
  margin: 10px auto 0;
}

.mask {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: 0;
  visibility: hidden;
  transition: 0.3s;
}

.mask.active {
  opacity: 0.7;
  visibility: visible;
}

/* ドロップダウンメニュー */
.menu a {
  transition: 0.3s;
}

.menu a:hover {
  opacity: 0.7;
}

.menu ul {
  display: none;
}

.menu ul.active {
  display: block;
}

.menu > li > a {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  background-color: #ccc;
}

.menu > li > a::after {
  content: '>';
  transform: rotate(90deg);
}

.menu > li > a.active::after {
  transform: rotate(-90deg) translateY(-3px);
  transition: 0.3s;
}

.menu > li > ul a {
  padding: 10px;
  display: block;
  background-color: #aaa;
}

/* タブ切り替え */
.tabs {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}

.tabs li {
  width: calc(100% / 5);
}

.tabs li:not(:first-of-type) {
  margin-left: 10px;
}

.tabs li a {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  background-color: #bbb;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  transition: .5s;
}

.tabs li a.active {
  background-color: #fff;
}

.contents li {
  height: 500px;
  background-color: #fff;
  padding: 20px;
  display: none;
}

.contents li.active {
  display: block;
}

@media screen and (min-width: 769px) {
  .tabs li a:not(.active):hover {
    opacity: 0.7;
  }
}