@charset 'utf-8';

*,*::before,*::after {
  box-sizing: border-box;
}

a {
  color: #333;
  text-decoration: none;
}

main {
  margin: 50px auto;
  padding: 20px;
  background-color: #ddd;
  border-radius: 5px;
  min-width: 1000px;
  width: 100%;
}

section {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
}

section h2 {
  font-weight: bold;
  font-size: 20px;
  text-align: center;
}

.hp {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.hp > div:first-of-type::after {
  content: '/';
  margin: 0 5px;
}

.enemy {
  margin-bottom: 20px;
}

.attack {
  margin: 50px auto 0;
  width: 200px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f44;
  color: #fff;
  border: 0;
  outline: none;
  border-radius: 5px;
  cursor: pointer;
}

.attack.deactive {
  pointer-events: none;
  opacity: .5;
}